Django==4.2.17
gunicorn
whitenoise
psycopg2-binary
python-decouple
dj-database-url
django-jazzmin==2.6.0
djangorestframework==3.14.0
django-cors-headers
django-filter==23.5
drf-yasg
mercadopago
django-axes
